@charset "utf-8";

/*共通のスタイル*/

/* 共通 */

body {
  padding-top: 90px;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 15px;
  text-align: center;
  font-size: 3vw;
  color: #fff;
  background-color: #333333;
  font-family: 'Rowdies', sans-serif;
}

/* member画面 */

h2 {
  margin-top: 30px;
  font-size: 2.3vw;
  text-align: center;
}

.matome {
  width: 900px;
  display: flex;
  margin: 0 auto 0 auto;
  margin-bottom: -50px;
}

.button1 {
  font-weight: 600;
  color: #fff;
  background-color: #333;
  width: 84px;
  height: 70px;
  text-align: center;
  margin-right: 2%;
  margin-bottom: 30px;
  padding-top: 10px;
  border-radius: 5px;
  line-height: 25px;
}
.button {
  font-weight: 600;
  color: #fff;
  background-color: #333;
  width: 84px;
  height: 70px;
  text-align: center;
  margin-bottom: 30px;
  padding-top: 10px;
  border-radius: 5px;
  line-height: 25px;
}

.button1:hover {
  opacity: 0.5;
}
.button:hover {
  opacity: 0.5;
}

input[type="file"] {
  display: none;
}

div.flex1{
  display: flex;
  width: 900px;
  height: 155px;
  margin: 30px auto 0 auto;
}

.tate  {
  display: flex;
  flex-flow: column;
  margin: 30px 0 0 0;
  text-align: center;
  font-size: 1vw;
}
.tate select {
  margin: 20px auto 0 auto;
  width: 400px;
  height: 40px;
}
.tate  select option {
  width: 400px;
  height: 40px;
}

h3.member {
  margin: 20px 0 6px 0;
  font-size: 1.1vw;
  text-align: left;
}

div.member01 {
  width: 360px;
  margin: 0 auto;
  margin-top: 10px;
}

div.member02 {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

div.member03 {
  width: 100%;
  margin-top: 100px;
}

div.member04 {
  width: 30%;
  margin-top: 122px;
}

span {
  margin-left: 10px;
  padding: 0 8px;
  font-size: 0.8vw;
  color: #fff;
  background-color: #ff0000;
  border-radius: 5px;
}

input.bar {
  width: 100%;
  height: 30px;
  border: solid 1px #808080;
  border-radius: 5px;
}

input.bar1 {
  width: 100%;
  height: 210px;
  border: solid 1px #808080;
  border-radius: 5px;
}

input.check {
  transform: scale(3);
}

p.member {
  margin-left: 30px;
  font-size: 1.3vw;
}

a.member {
  padding: 15px 120px;
  margin-left: 80px; 
  font-size: 1.3vw;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  background-color: #000;
  border: solid;
  border-radius: 8px;
}
a:hover {
  background-color: #fff;
  color: #000;
}

input.member {
  padding: 15px 120px;
  margin-left: 80px; 
  font-size: 1.3vw;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  background-color: #000;
  border: solid;
  border-radius: 8px;
}
input.member:hover {
  background-color: #fff;
  color: #000;
}

a.member1 {
  padding: 16px 50px;
  font-size: 1.3vw;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  background-color: #000;
  border: solid;
  border-radius: 8px;
}

a.member1:hover {
  background-color: #fff;
  color: #000;
}

img.member {
  width: 15vw;
  margin-top: -9%;
  margin-left: 80%;
  margin-bottom: 30px;
}

table {
  width: 45%;
  margin: 0 auto;
  margin-top: 20px;
}

th {
  font-size: 1.3vw;
  color: #fff;
  background-color: #333333;
}

table,
table tr,
table th,
table td {
  text-align: center;
  line-height: 40px;
  border: solid 1px #ccc; /*グレーの枠線の指定*/
  padding: 4px; /*セルの内側に上下左右に4px余白をあける*/
  border-collapse: collapse;
}

a:hover {
  background-color: #fff;
  color: #000;
}



#image-container {
  display: flex;
}

#image-container img {
  width: 110px;
  height: 110px;
}

.delete-btn {
  width: 50px;
  height: 30px;
  background-color: #333;
  color: white;
  font-weight: 600;
  margin-right: 10px;
  border-radius: 5px;
}

.zoom-btn {
  width: 50px;
  height: 30px;
  background-color: #333;
  color: white;
  font-weight: 600;
  border-radius: 5px;
}

.image-group {
  padding: 0 20px;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

#image-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px; 
}

.uploaded-image {
  margin: -20px 0 5px 0;
}

.gazo-btn {
  display: flex;
  flex-direction: column;
}

.gazo-btn p {
  text-align: center;
}

div.container {
  width: 900px;
  margin: 0 auto;
  display: flex;
}