@charset "utf-8";

/*共通のスタイル*/

/* 共通 */


body {
  padding-top: 90px;
  }
  
header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 15px;
  text-align: center;
  font-size: 3vw;
  color: #fff;
  background-color: #333333;
  }
  
h2.ue{
  margin-top: 0.5%;
  margin-left: 15%;
  font-size: 1.8vw;
}
h2.sita{
  margin-top: 5%;
  margin-left: 25%;
  margin-bottom: 1%;
  font-size: 1.8vw;
}

p.border{
  width: 80%;
  margin-top: 0.5%;
  margin-left: 10%;
  border-bottom: solid 1px #000;
}

div.pon{
  display: flex;
  margin-top: 3%;
  align-items: center;
  justify-content: center;
}
div.poko{
  display: flex;
  margin-right: 8px;
  align-items: center;
  justify-content: center;
}

div.iro{
  padding: 1.8%;
  color: #fff;
  border-radius: 50%;
  font-weight: 900;
  background-color: #3399cc;
}
div.kuro{
  padding: 1.8%;
  color: #fff;
  border-radius: 50%;
  font-weight: 900;
  background-color: #333333;
}

p.sen{
  width: 5%;
  height: 10px;
  border: solid 7px #333333;
}
p.mozi1{
  margin-top: 1%;
  font-size: 0.8vw;
  font-weight: 900;
}
p.mozi2{
  margin: 1% 4.8% 0 4.8%;
  font-size: 0.8vw;
  color: #3399cc;
  font-weight: 900;
}
p.mozi3{
    margin-top: 1%;
    font-size: 0.8vw;
    font-weight: 900;
}



div.f1{
  display: flex;
  margin-top: 4%;
  justify-content: center;
}
div.s1{
  margin-left: -10%;
  margin-right: 7%;
}

img{
  width: 20vw;
}

h3{
  margin: 5px 0 20% 0;
  font-size: 1.8vw;
}

h3.kane{
  font-size: 1.5vw;
  margin-bottom: 55%;
  
}
span{
  font-size: 1.8vw;
  font-weight: 900;
}
p.siha{
  padding: 13px;
  font-size: 1.3vw;
}
p.bo{
  width: 180%;
  border: solid 1px;
}


div.last{
  margin-left: 24.5%;
}

p.la1{
  margin-top: 3%;
  font-size: 1.2vw;
  padding: 10px;
}
p.la2{
  font-size: 1.2vw;
  padding: 10px;
}


div.ma{
  margin-top: 5%;
  text-align: center;
}
a.next{
  padding: 1.5% 6%;
  border: solid 1px;
  font-size: 1.2vw;
  font-weight: 900;
  color: #fff;
  text-decoration: none;
  background-color: #ff3333;
}


button.next{
  margin-left: 15%;
  padding: 1.4% 5%;
  border: solid 1px;
  font-size: 1.2vw;
  font-weight: 900;
  color: #fff;
  text-decoration: none;
  background-color: #ff3333;
  border-radius: 10px;
}

button.next:hover{
opacity: 0.5;
}


div.mi{
  margin-top: 5%;
  margin-left: 20%;
  margin-bottom: 5%;
}
a.modo{
  padding: 1.5%;
  border: solid 1px;
  font-size: 1.1vw;
  font-weight: 900;
  color: #fff;
  text-decoration: none;
  background-color: #333333;
  border-radius: 10px;
}

a:hover{
  opacity: 0.5;
}