@charset "utf-8";

/*共通のスタイル*/

/* 共通 */


body {
  padding-top: 90px;
  }
  
header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 15px;
  text-align: center;
  font-size: 3vw;
  color: #fff;
  background-color: #333333;
  font-family: 'Rowdies', sans-serif;
}



h2{
  width: 20.5%;
  margin: 2% 0 2% 12%;
  padding: 2% 3%;
  color: #fff;
  font-size: 2vw;
  background-color: #333333;
}

div.f1{
  display: flex;
}

div.tag{
  margin-top: 10px;
  margin-left: 19.5%;
}

p.p{
  width: 10%;
}

a.tuika{
  margin-right: -10%;
  padding: 1% 2.5%;
  text-decoration: none;
  line-height: 25px;
  color: #000;
  font-size: 1vw;
  border: solid 1px;
  border-radius: 3px;
  
}

a.master03 {
  color: #000;
  padding: 10px;
  text-decoration: none;
  font-size: 1vw;
  border: solid 1px;
  border-radius: 3px;
}
a:hover {
  background-color: #333333;
  color: #fff;
}


table {
  width: 77%;
  margin: 0 auto;
  margin-top: 20px;
}

th {
  font-size: 1.3vw;
  color: #fff;
  background-color: #333333;
}

table,
table tr,
table th,
table td {
  font-size: 1.1vw;
  line-height: 40px;
  border: solid 1px #ccc; /*グレーの枠線の指定*/
  padding: 4px; /*セルの内側に上下左右に4px余白をあける*/
  border-collapse: collapse;
}

td.t1{
  width: 13%;
}
td.t2{
  width: 13%;
}
td.t3{
  width: 13%;
}
td.t4{
  width: 13%;
}
td.t5{
  width: 13%;
}
td.t6{
  width: 13%;
}


a.kousin{
  margin-left: 17%;
  padding: 1.5% 10%;
  font-size: 0.9vw;
  color: #fff;
  text-decoration: none;
  background-color: #333333;
}
a.sakujo{
  padding: 1.5% 10%;
  font-size: 0.9vw;
  color: #fff;
  text-decoration: none;
  background-color: #333333;
}

a.kousin:hover{
  opacity: 0.5;
}
a.sakujo:hover{
  opacity: 0.5;
}






footer.master {
  display: flex;
  width: 100%;
  margin-top: 20px;
  padding: 30px;
  justify-content: center;
  align-items: center;
  background-color: #555;
}

p.master {
  margin: 0 50px 0 13%;
  color: #fff;
  font-size: 1.2vw;
}

a.master02 {
  padding: 10px 35px;
  color: #000;
  text-decoration: none;
  font-size: 1vw;
  font-weight: 700;
  border-radius: 5px;
  background-color: #fff;
}
a.master02:hover {
  background-color: aqua;
}





/* 検索バー */
  .search-box {
    display: flex;
    margin-left: 11.5%;
    margin-right: 7%;
    width: 40%;
}

.search-box input[type="text"] {
    flex-grow: 1;
    padding: 0.7rem 0 0.7rem 0.8rem;
    border: 1px solid #333947;
    border-radius: 1.5rem 0 0 1.5rem;
}

.search-box button {
    cursor: pointer;
    padding: .8rem .9rem .8rem .8rem;
    border-radius: 0 1.5rem 1.5rem 0;
    border: none;
    background-color: #333947;
    color: #fff;
    font-size: .75rem;
}

.search-box input:focus {
    outline: 0;
    border: 1px solid #4ab6f6;
}

.search-box button:hover {
    color: #4ab6f6;
}