<!DOCTYPE html>

<html lang="ja">
  <head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>利用不可設定画面</title>

    <link href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/reset.css" />
    <link rel="stylesheet" type="text/css" href="css/huka.css" />
  </head>


  <body>
    <header>
      <h1>2nd Chance</h1>
    </header>

    <main>
      <h2>利用不可設定</h2>    

      <div>
        <a class="master03" href="user.html"><< ユーザー管理へ</a>
      </div>
  
      <table>
          <tr>
              <th>EMAIL</th>
              <th>氏名</th>
              <th>ユーザー名</th>
              <th>アクション</th>
          </tr>
  
          <tr>
              <td>Admin@test.com</td>
              <td>名前</td>
              <td>TestUser1</td>
              <td>
                  <a class="sakujo" href="">利用不可</a>
              </td>
          </tr>
  
          <tr>
              <td>Admin@test.com</td>
              <td>名前</td>
              <td>TestUser1</td>
              <td>
                  <a class="sakujo" href="">利用不可</a>
              </td>
          </tr>
  
          <tr>
              <td>Admin@test.com</td>
              <td>名前</td>
              <td>TestUser1</td>
              <td>
                  <a class="sakujo" href="">利用不可</a>
              </td>
          </tr>
  
          <tr>
              <td>Admin@test.com</td>
              <td>名前</td>
              <td>TestUser1</td>
              <td>
                  <a class="sakujo" href="">利用不可</a>
              </td>
          </tr>
  
          <tr>
              <td class="t1">Admin@test.com</td>
              <td class="t2">名前</td>
              <td class="t3">TestUser1</td>
              <td class="t4">
                  <a class="sakujo" href="">利用不可</a>
              </td>
          </tr>
  
          <tr>
              <td>Admin@test.com</td>
              <td>名前</td>
              <td>TestUser1</td>
              <td>
                  <a class="sakujo" href="">利用不可</a>
              </td>
          </tr>
  
          <tr>
              <td>Admin@test.com</td>
              <td>名前</td>
              <td>TestUser1</td>
              <td>
                  <a class="sakujo" href="">利用不可</a>
              </td>
          </tr>
  
          <tr>
              <td>Admin@test.com</td>
              <td>名前</td>
              <td>TestUser1</td>
              <td>
                  <a class="sakujo" href="">利用不可</a>
              </td>
          </tr>
  
          <tr>
              <td>Admin@test.com</td>
              <td>名前</td>
              <td>TestUser1</td>
              <td>
                  <a class="sakujo" href="">利用不可</a>
              </td>
          </tr>
  
          <tr>
              <td>Admin@test.com</td>
              <td>名前</td>
              <td>TestUser1</td>
              <td>
                  <a class="sakujo" href="">利用不可</a>
              </td>
          </tr>
  
          <tr>
              <td>Admin@test.com</td>
              <td>名前</td>
              <td>TestUser1</td>
              <td>
                  <a class="sakujo" href="">利用不可</a>
              </td>
          </tr>
  
          <tr>
              <td>Admin@test.com</td>
              <td>名前</td>
              <td>TestUser1</td>
              <td>
                  <a class="sakujo" href="">利用不可</a>
              </td>
          </tr>
  
          <tr>
              <td>Admin@test.com</td>
              <td>名前</td>
              <td>TestUser1</td>
              <td>
                  <a class="sakujo" href="">利用不可</a>
              </td>
          </tr>
  
          <tr>
              <td>Admin@test.com</td>
              <td>名前</td>
              <td>TestUser1</td>
              <td>
                  <a class="sakujo" href="">利用不可</a>
              </td>
          </tr>
  
          <tr>
              <td>Admin@test.com</td>
              <td>名前</td>
              <td>TestUser1</td>
              <td>
                  <a class="sakujo" href="">利用不可</a>
              </td>
          </tr>
      
      </table>
    </main>

  </body>
  
  <footer class="master">
    <p class="master">1ページ目</p>
    <a class="master02" href="#">次へ</a>
  </footer>

</html>