<!DOCTYPE html>

<html lang="ja">
  <head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>ログアウト確認画面</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/logout.css')}}" />
  </head>

  <body>
 
      <header>
        <h1>2nd Chance</h1>
      </header>

      <main>
        <div class="icon"><img src="{{ url_for('static', filename='images/logout.jpg') }}" alt="icon"></div>
        <h2 class="text1">ログアウトしますか？</h2>
        <p class="text2">再度ログインするためにはメールアドレスとパスワードが必要になります。</p>
        <button class="btn1"><a href="/">ログアウトする</a></button>
        <button class="btn2"><a href="/mypage/">マイページに戻る</a></button>
      </main>

      <footer id="footer">
        <!-- フッターの内容をここに追加 -->
      </footer>
  </body>
</html>
