<!DOCTYPE html>

<html lang="ja">
  <head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>マイページ</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/Modaal/0.4.4/css/modaal.min.css"
    />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/otoiawase.css') }}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

  </head>
  <body>
    <div class="wrap">
      <header>
        <div class="fle">
          <a class="test2" href="/top/"><img src="{{ url_for('static', filename='images/2nd.jpg') }}" class="nd"></a>
          <form method="post"  class="search_container" action="/kennsaku/">
            <input type="text" id="search_query" class="n" name="search_query"  placeholder="  キーワード検索" size="100" required>
            <button type="submit"></button>
            <input type="submit" value="&#xf002">
          </form>
          <div class="f30">
            <div class="ma">
              <a href="/top/" class="ho1"><img src="{{ url_for('static', filename='images/top.jpg') }}" class="nav"><br>
                <p class="pp">トップ</p>  
              </a>
            </div>
            <div class="ma">
              <a href="/mypage/" class="ho2"><img src="{{ url_for('static', filename='images/user.jpg')}}" class="nav"><br>
                <p class="pp">マイページ</p>  
              </a>
            </div>
            <div class="ma">
              <a href="/osirase/" class="ho3"><img src="{{ url_for('static', filename='images/mega.jpg')}}" class="nav"><br>
                <p class="pp">お知らせ</p>  
              </a>
            </div>
            <div class="ma">
              <a href="#info1" class="modal-open-1"><img src="{{ url_for('static', filename='images/camera.jpg')}}" class="nav"><br>
                <p class="ppp">出品/リクエスト</p>
              </a>
            </div>
          </div>
        </div>
      </header>
    <main>

      
      <!-- <div id="css-slider">
        <div class="slider-wrapper">
          <div class="slide-item"><img src="{{ url_for('static', filename='images/picture02.gif')}}"/></div>
          <div class="slide-item"><img src="{{ url_for('static', filename='images/slide1.jpg')}}"/></div>
          <div class="slide-item"><img src="{{ url_for('static', filename='images/slide2.jpg')}}"/></div>
        </div>
      </div> -->




      

      <section id="info1">
        <div class="modaru">
        <a href="/syuppin/" class="atagu"><p class="syu">出品</p></a>
        <h2 class="or">or</h2>
        <a href="/request_syuppin/" class="atagu"><p class="riku">リクエスト</p></a>
        </div>
      </section>


    <main>

        <form action="/otoiawase/" method="post" class="otoiawase">
          <h2>お問合せ投稿フォーム</h2>
            <label for="name">名前:</label>
            <input type="text" id="name" name="name" required>
            
            <label for="email">メールアドレス:</label>
            <input type="email" id="email" name="email" required>
            
            <label for="message">お問い合わせ内容:</label>
            <textarea id="inquiry" name="inquiry" required></textarea>
            
            <!-- ジャンル選択のプルダウンメニューを追加 -->
            <label for="genre">ジャンル:</label>
            <select id="genre" name="genre" required>
                <option value="">選択してください</option> <!-- デフォルトのプロンプト -->
                <option value="お問い合わせ">お問い合わせ</option>
                <option value="ご意見">ご意見</option>
                <option value="その他">その他</option>
            </select>
          <div class="modorumodoru">
            <a href="/top/"></a><div class="modoru">戻る</div></a>
            <input type="submit" value="送信">

          </div>
        </form>

    </main>

    <footer>

    </footer>
    </div>

  </body>


  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Modaal/0.4.4/js/modaal.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/otoiawase.js') }}"></script>
</html>