<!DOCTYPE html>

<html lang="ja">
  <head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title></title>

    <link rel="stylesheet" type="text/css" href="css/reset.css" />
    <link rel="stylesheet" type="text/css" href="css/quitok-common.css" />
  </head>

  <body>
 
      <header>

        <h1>2nd Chance</h1>
      
      </header>

      <main>
        <div class="syuppinok">
          <h2 class="syuppinok">退会が完了しました</h2>
          <p class="syuppinok">ご利用ありがとうございました。</p>
          <a class="syuppinok" href="top.html">トップに戻る</a>
        </div>
      </main>
    </div>
  </body>

</html>
