<!DOCTYPE html>

<html lang="ja">
  <head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>商品詳細画面</title>

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Modaal/0.4.4/css/modaal.min.css">
    <link rel="stylesheet" type="text/css" href="css/reset.css" />
    <link rel="stylesheet" type="text/css" href="css/syousai-common.css" />
  </head>

  <body>
    <div class="wrap">
      <header>
        <div>
          <a href="top.html"><h1>2nd Chance</h1></a>

          <nav>
            <div class="header-nav">
              <div class="login">
                <p class="roguin">ログイン</p>
                <p class="sura">/</p>
                <p class="touroku">新規登録</p>
              </div>

              <input
                type="text"
                placeholder="商品を検索・・・"
                class="search"
              />
              <div class="icon">
                <div class="iconcon">
                <a href="mypage.html"
                  ><img
                    src="images/hito.jpg"
                    alt="マイページ">
                    <h2>マイページ</h2>
                </a>
                </div>
                
                <div class="iconcon">
                  <a href="#">
                  <img
                    src="images/osirase.jpg"
                    alt="お知らせ">
                    <h2>お知らせ</h2>
                  </a>
                </div>
              
                <div class="iconcon">
                  <a href="kessai.html">
                    <img
                    src="images/siharai.jpg"
                    alt="支払い" class="sirase">
                    <h2>支払い</h2>
                  </a>
                </div>
           
               <div class="iconcon">
                <a href="#info1" class="modal-open-1">
                  <img
                  src="images/kamera.jpg"
                  alt="出品" class="syuppin">
                  <h2>出品/リクエスト</h2>
                </a>
               </div>
              </div>
            </div>
          </nav>
        </div>
      </header>


      <main>
        <section id="info1">
          <div class="modaru">
          <a href="syuppin.html" class="atagu"><p class="syu">出品</p></a>
          <h2 class="or">or</h2>
          <a href="request.html" class="atagu"><p class="riku">リクエスト</p></a>
          </div>
        </section>
        <div class="flex">

          <div>
            <img class="top" src="images/ziko.jpg">
          </div>

          <div class="ue">
            <h1>自己教育の言説</h1>
            <h2>希望値段  1,000円 / 送料込み</h2>
            <div class="ue01">
              <a class="iine" href="">いいね</a>
              <a class="come" href="">コメント</a>
            </div>

            <div class="ue02">
              <a class="requ" href="requestok.html">リクエストに応える</a>
            </div>

            <h3>商品の情報</h3>

            <div class="flex02">
              
              <div class="ka">
                <ul>
                  <li>カテゴリー</li>
                  <li>&nbsp;</li>
                  <li>&nbsp;</li>
                  <li>&nbsp;</li>
                  <li><b>商品の希望状態</b></li>
                  <li><b>送料の負担</b></li>
                  <li><b>発送の方法</b></li>
                  <li><b>発送元の地域</b></li>
                  <li><b>発送までの日数</b></li>
                  <li><b>鑑定の有無</b></li>
                </ul>
              </div>
              <div>
                <ul>
                  <li><a class="kate" href="">カテゴリ１></a></li>
                  <li><a class="kate" href="">カテゴリ２></a></li>
                  <li><a class="kate" href="">カテゴリ３></a></li>
                  <li>&nbsp;</li>
                  <li>中古、汚れ無し</li>
                  <li>送料込み（出品者負担）</li>
                  <li>普通郵便（定型、定型外）</li>
                  <li>愛知県</li>
                  <li>1～3日で発送</li>
                  <li>有り</li>
                </ul>
              </div>
            </div>

              <h3>出品者の情報</h3>

            <div class="flex03">
              <img class="seka" src="images/seka.jpg">
              <div>
                <p class="yu01">ユーザー名</p>
                <p class="yu02">★★★★☆</p>
              </div>
            </div>
          </div> 
        </div>
          

        <div class="setu">
          <h4 class="se">リクエスト商品説明</h4>
          <p class="kasa">当たり前のことが書いてある黒い本</p>
          <h4 class="se">コメント(3)</h4>
          <p class="kaasa"></p>

          <div class="flex03">
            <img class="seka" src="images/seka.jpg">
            <p class="yu01">ユーザー名</p>
          </div>
          <p class="bac">ありますよ</p>

          <div class="flex030">
            <img class="seka" src="images/seka.jpg">
            <p class="yu01">出品者ユーザー名</p>
          </div>
          <p class="ba">おい、まじか</p>
          
          <div class="flex03">
            <img class="seka" src="images/seka.jpg">
            <p class="yu01">出品者ユーザー名</p>
          </div>
          <p class="bac">しゃーないで譲ったる</p>
          <p>&nbsp;</p>
          <p class="kaasa"></p>

          <div class="kaku">
            <a class="kaku" href="">コメントを書く</a>
          </div>          
        
            <h4 class="se">あなたにおすすめの商品</h4>

          <img class="la" src="images/buy2.jpg">
          <img class="la" src="images/buy2.jpg">
          <img class="la" src="images/buy2.jpg">
          <img class="la" src="images/buy2.jpg">
          <img class="la" src="images/buy2.jpg">
          <img class="la" src="images/buy2.jpg">
        </div>


      </main>



    <footer id="footer">
        <!-- <p class="border"></p> -->
        <p class="footer-b"></p>
        <p class="mini">セカンド チャンス</p>
        <h4 class="fo">2nd Chance</h4>
        <div class="p">
          <p class="p1">TEL 0000-00-0000</p>
          <p class="p2">受付時間 平日 9:00〜21:00</p>
          <p class="p3">お問い合わせフォーム</p>
        </div>

        <p class="footer-b"></p>
        <p class="footer-p">利用規約・個人情報保護について</p>
        <p class="footer-b"></p>

        <p class="copy">
          2023 &copy; Copyright 2nd Chance. All rights reserved.
        </p>
      </footer>
  </body>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Modaal/0.4.4/js/modaal.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
  <script src="js/top-common.js"></script>
</html>
