<!DOCTYPE html>

<html lang="ja">
  <head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title></title>

    <link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static', filename='css/reset.css') }}"
  />
  <link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='css/sobu-common.css') }}"
/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap" rel="stylesheet">
  </head>

  <body>
 
      <header>

        <h1>2nd Chance</h1>
      
      </header>

      <main>
        <div class="syuppinok">
          <h2 class="syuppinok">リクエストに応えました</h2>
          <p class="syuppinok">商品を3日以内に発送してください<br>ご登録のメールアドレスにEメールを送信しましたので出品詳細はそちらからお願いします。<br>出品ありがとうございました。</p>
          <a class="syuppinok" href="/top/">トップに戻る</a>
        </div>
      </main>
    </div>
  </body>
  <script type="text/javascript" src="{{ url_for('static', filename='js/kessai-common.js') }}"></script>
</html>
