<!DOCTYPE html>

<html lang="ja">
  <head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>アカウント削除設定画面</title>

    <link
      href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/reset.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/sakujo.css') }}"
    />
  </head>

  <body>
    <header>
      <h1>2nd Chance</h1>
    </header>

    <main>
      <h2>アカウント削除設定</h2>

      <div>
        <a class="master03" href="/user/"><< ユーザー管理へ</a>
      </div>
      <table>
        <tr>
          <th>EMAIL</th>
          <th>氏名</th>
          <th>ユーザー名</th>
          <th>アクション</th>
        </tr>
        {% for record in records %}
        <tr>
          <td>{{record[0]}}</td>
          <td>{{record[1]}}</td>
          <td>{{record[2]}}</td>
          <td>
            <a class="sakujo" href="/sakujo_/?User_Name={{record[2]}}"
              >アカウント削除</a
            >
          </td>
        </tr>
        {% endfor %}
      </table>
    </main>
  </body>

  <footer class="master">
    <p class="master">1ページ目</p>
    <a class="master02" href="#">次へ</a>
  </footer>
</html>
